.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.button {
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.table_cell {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.heading_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.line {
}
.shape {
}
.image {
}
.pa_水平分割线 {
}
.pa_列表标题 {
  font-size:32px;
  color:#222222;
  text-align:left;
}
.pa_列表辅助备注信息 {
  font-size:24px;
  color:#A5A5A5;
  text-align:left;
}
.pa______normal {
  font-size:32px;
  color:#FFFFFF;
}
.pa_背景 {
  font-size:48px;
  color:#CCCCCC;
}
.pa_白色背景条 {
}
.pa_输入框 {
  font-size:32px;
  color:#222222;
  text-align:left;
}
.pa_白色背景条上下边框 {
}
.pa_获取验证码 {
  font-size:32px;
  color:#3578DF;
  text-align:right;
}
.pa_验证码倒数 {
  font-size:32px;
  color:#A5A5A5;
  text-align:right;
}
.heading_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
.icon {
}
textarea, select, input, button { outline: none; }
